.nsb a {
  display: block;
  width: 100%;
  background-color: #fff;
  background-image: url('mb4.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  height: 100%;
}

@media screen and (min-width: 1152px) {
  .main--index .nsb {
    height: 332px;
    overflow: hidden;
  }
  .main--index .nsb a {
    height: calc(100% - 80px);
    margin-top: 80px;
  }
  .nsb {
    height: 252px;
  }
}

@media screen and (max-width: 1151px) {
  .nsb {
    height: 185px;
  }
  .nsb a {
    background-image: url('x4.png');
  }
}