.brand {
  @include section;
  padding-left: 160px;
  @include laptop {
    padding-right: 25px;
  }
  @include tablet {
    padding-left: 25px;
  }
  &__inner {
    position: relative;
    padding-right: 160px;
    &::after {
      display: table;
      content: '';
      clear: both;
    }
    @include tablet {
      padding-right: 0;
    }
  }
  &__bg {
    display: none;
    @include wider-than-tablet {
      display: block;
      opacity: 0.01;
      position: absolute;
      left: 0;
      top: -300px;
    }
  }
}