.brand {
  @include section;
  padding-left: 160px;
  &__inner {
    position: relative;
    padding-right: 160px;
    &::after {
      display: table;
      content: '';
      clear: both;
    }
  }
  &__bg {
    display: block;
    opacity: 0;
    position: absolute;
    left: 0;
    top: -300px;
  }
}