.blocker {
  z-index: 40;
  @include tablet {
    padding: 15px;
  }
}
.feedback {
  width: 80vw;
  max-width: 600px;
  @media screen and (min-width: 1510px) {
    max-width: 1510px;
  }
  &__img {
    width: 100%;
  }
  &__row {
    padding: 40px;
    display: flex;
  }
  &__col {
    width: 50%;
    flex-grow: 1;
    &:first-child {
      @media screen and (max-width: 1509px) {
        display: none;
      }
    }
  }
}
