.fixed-left-side {
  display: none;
  @include wider-than-tablet {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 3;
  }
  &__inner {
    @include section;
    position: relative;
  }
}