.g {
  background: url('../images/gold-bg.png') no-repeat 100% 0 $gold;
  background-size: cover;
  min-height: 1500px;
  position: relative;
  color: #fff;
  padding-bottom: 200px;
  @include clearfix;
  @include tablet {
    padding-top: 70px;
    padding-bottom: 70px;
    min-height: 0;
  }
  &__img {
    position: absolute;
    right: 0;
    top: 200px;
    @include tablet {
      position: static;
      display: block;
      margin-left: 25px;
      width: calc(100% - 25px);
    }
  }
  &__inner {
    @include section;
    position: relative;
    @include tablet {
      padding-left: 25px;
      padding-right: 25px;
    }
  }
  &__green {
    background: url('../images/ellipse.svg') no-repeat #1D4934;
    background-size: cover;
    background-position: 179px -107px;
    position: absolute;
    width: 433px;
    height: 626px;
    left: 160px;
    top: 647px;
    padding: 28px 37px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-transform: uppercase;
    .split-text {
      display: flex;
      justify-content: space-between;
    }
    @include tablet {
      position: relative;
      top: -45px;
      left: 0;
      height: 150px;
      padding: 8px 12px;
      max-width: 270px;
    }
  }
  &__line {
    @include tablet {
      font-size: 7px;
    }
    &--rotate {
      transform: rotate(180deg);
    }
  }
  &__white {
    max-width: 435px;
    float: right;
    overflow: hidden;
    margin-top: 1100px;
    margin-right: 160px;
    @include tablet {
      margin-top: 5px;
      max-width: 100%;
      margin-right: 0;
    }
  }
  &__title {
    color: #fff;
  }
  &__description {
    @include helvetica;
    font-size: 15px;
    line-height: 170%;
    margin-top: 22px;
    @include faded;
  }
  &__logo {
    @include tablet {
      width: 100px;
    }
  }
}