.header-contacts {
  display: none;
  @include wider-than-tablet {
    display: flex;
    padding: 40px;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    z-index: 20;
    font-size: 15px;
  }
  &__button {
    margin-top: 0;
    border: 2px solid rgba(#000, 0.2);
    margin-left: 40px;
  }
}