.input {
  position: relative;
  font-size: 18px;
  @include helvetica;
  &__field {
    display: block;
    height: 70px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0;
    width: 100%;
    padding: 25px 30px;
    &:focus,
    .has-value & {
      border: 1px solid rgba(0, 0, 0, 0.7);
      outline: none;
    }
    .invalid & {
      border-color: $red;
    }
    &--textarea {
      height: 172px;
      padding-bottom: 25px;
      resize: none;
    }
  }
  &__label {
    position: absolute;
    line-height: 130%;
    color: #313131;
    opacity: 0.3;
    top: 25px;
    left: 30px;
    transition: all .35s $easing;
    .has-value &,
    .focus & {
      transform: translate(-30px, -45px);
      font-size: 14px;
      color: $black;
      opacity: 1;
    }
    .invalid & {
      color: $red;
    }
  }
}