.land {
  min-height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 115px;
  @include tablet {
    min-height: 0;
    padding-bottom: 40px;
    overflow: hidden;
  }
  img {
    width: 118%;
    margin-left: -9%;
  }
  &__button {
    position: relative;
    z-index: 1;
    margin-top: -170px;
    @include tablet {
      margin-top: -60px;
      height: 40px;
    }
  }
}