.main-logo {
  &__text,
  &__img {
    top: 40px;
    display: flex;
    position: absolute;
    left: 40px;
    transition: opacity .35s $easing;
  }
  &__text {
    height: 45px;
    .scrolled & {
      opacity: 0;
    }
  }
  &__img {
    opacity: 0;
    height: 86px;
    width: 86px;
    .scrolled & {
      opacity: 1;
    }
  }
}