.main-logo {
  &__img {
    top: 40px;
    display: flex;
    position: absolute;
    left: 40px;
    transition: opacity .35s $easing;
    color: $black;
    font-size: 15px;
    text-decoration: none;
    opacity: 0;
    height: 86px;
    width: 86px;
    z-index: 1;
    @include laptop {
      left: 25px;
    }
    .scrolled & {
      opacity: 1;
    }
  }
  &__text {
    top: 40px;
    transition: opacity .35s $easing;
    position: absolute;
    left: 40px;
    z-index: 2;
    @include laptop {
      left: 25px;
    }
    .scrolled & {
      opacity: 0;
    }
  }
}