$tablet-width: 768px;
$desktop-width: 1200px;
$easing: cubic-bezier(.4, 0, 0, 1);
$black: #04151f;
$blue: #4F7CAC;
$gold: #AAAE7F;
$red: #e45959;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin phone {
  @media (max-width: #{$tablet-width - 1}) {
    @content;
  }
}

@mixin tablet-phone {
  @media (max-width: #{$desktop-width - 1}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin section {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

@mixin hidden-bg {
  transform: translate(0, 100px);
  opacity: 0;
}

@mixin faded {
  transform: translate(0, 100px);
  opacity: 0;
}

@mixin faded-margin {
  margin-top: 100px;
  opacity: 0;
}

@mixin clearfix {
  &::after {
    display: table;
    content: '';
    clear: both;
  }
}