.new-nav {
  padding-top: 220px;
  padding-bottom: 105px;
  background-color: $blue;
  position: relative;
  overflow: hidden;
  @include tablet {
    padding-top: 80px;
    padding-bottom: 0;
  }
  &__decorator {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }
  &__inner {
    position: relative;
    z-index: 2;
    display: flex;
    padding-left: 160px;
    margin-bottom: 67px;
    @include section;
    @include laptop {
      padding-left: 25px;
      padding-right: 25px;
    }
    @include tablet {
      display: block;
      margin-bottom: 45px;
    }
  }
  &__title {
    color: #fff;
    max-width: 440px;
    flex-grow: 1;
    @include tablet {
      margin-bottom: 20px;
    }
  }
  &__description {
    color: #fff;
    max-width: 470px;
    flex-grow: 1;
    @include faded;
  }
  &__bg {
    position: relative;
    z-index: 2;
    margin-left: calc(50% - 720px + 160px);
    height: 665px;
    @include faded-margin;
    @include tablet {
      height: auto;
      background-position: 50% 50%;
      margin-left: 25px;
      margin-right: 25px;
      width: auto;
    }
    img {
      height: 100%;
      @include tablet {
        height: auto;
        width: 100%;
      }
    }
  }
}