.plans {
  @include section;
  &__inner {
    padding-left: 160px;
    padding-top: 200px;
    padding-bottom: 50px;
    display: flex;
    align-items: flex-start;
    @include laptop {
      padding-left: 25px;
      padding-right: 25px;
    }
    @include tablet {
      padding-top: 80px;
      padding-bottom: 30px;
      display: block;
    }
  }
  &__title {
    margin-right: 125px;
    @include tablet {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
  &__description {
    @include faded;
    max-width: 463px;
    @include phone {
      max-width: 100%;
    }
  }
}