.service {
  position: relative;
  min-height: 704px;
  overflow: hidden;
  @include tablet {
    min-height: unset;
  }
  &__container {
    background: url('../images/sbg.png') 50% 50% no-repeat;
    background-size: cover;
    border: 1px solid transparent;
    overflow: hidden;
    border-left: none;
    transition:
      background-color .35s $easing,
      border-color .35s $easing,
      opacity .1s $easing,
      transform .35s $easing;
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    bottom: 0;
    transform: translate(100%, 0);
    display: flex;
    justify-content: flex-end;
    opacity: 0.01;
    &--1 {
      background-color: #e6e8e5;
    }
    &--2 {
      background-color: #fcead4;
    }
    &.active {
      transform: none;
      opacity: 1;
    }
    .service:hover & {
      @include wider-than-tablet {
        background-position: 1000px 1000px;
        background-color: #fff;
        border-color: rgba(#000, 0.1);
      }
    }
    @include tablet {
      position: relative;
      transform: none;
      opacity: 1;
    }
  }
  &__inner {
    padding: 40px;
    max-width: 717px;
    @include tablet {
      padding: 25px;
      max-width: none;
      display: flex;
      flex-direction: column;
    }
  }
  &__img {
    transform: translate(20px, 161px) scale(0.68);
    transition: transform .7s $easing;
    transition-delay: .1s;
    .service:hover & {
      @include wider-than-tablet {
        transition-delay: 0s;
        transform: none;
      }
    }
    @include tablet {
      transform: none;
      width: 100%;
    }
  }
  &__title {
    transform: translate(-107px, -212px) scale(0.72);
    transition: transform .7s $easing;
    transition-delay: .1s;
    .service:hover & {
      @include wider-than-tablet {
        transition-delay: 0s;
        transform: none;
      }
    }
    @include tablet {
      .service & {
        transform: none;
        font-size: 20px;
        margin-top: 0;
        margin-bottom: 15px;
      }
    }
  }
  &__count {
    opacity: 0.01;
    transition: opacity .7s $easing;
    transition-delay: .1s;
    .service:hover & {
      @include wider-than-tablet {
        transition-delay: 0s;
        opacity: 1;
      }
    }
    @include tablet {
      display: none;
    }
  }
  &__description {
    opacity: 0.01;
    transition: opacity .7s $easing;
    transition-delay: .1s;
    .service:hover & {
      @include wider-than-tablet {
        transition-delay: 0s;
        opacity: 1;
      }
    }
    @include tablet {
      display: none;
    }
  }
  &__btn {
    position: absolute;
    right: 90px;
    bottom: 195px;
    pointer-events: none;
    transition-delay: .1s;
    .service:hover & {
      @include wider-than-tablet {
        transition-delay: 0s;
        transform: translate(100px, 0);
        opacity: 0.01;
      }
    }
    @include tablet {
      position: relative;
      right: auto;
      bottom: auto;
      display: inline-block;
      order: 3;
      margin-top: 15px;
      align-self: flex-end;
      margin-right: 0;
      margin-bottom: 92px;
    }
  }
  &__dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-top: 30px;
    margin-bottom: 30px;
    transform: translate(0, 100px);
    transition: transform .35s $easing;
    .service:hover & {
      @include wider-than-tablet {
        transition-delay: .7s;
        transform: none;
      }
    }
    @include tablet {
      display: none;
      .jquery-modal & {
        display: block;
        transform: none;
      }
    }
  }
  &__post {
    @include tablet {
      display: flex;
      flex-direction: column-reverse;
      margin-top: 92px;
    }
  }
  &__post-text {
    @include tablet {
      padding: 0;
    }
  }
}