
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
html,
body {
  height: 100%;
  width: 100%;
  color: $black;
}
.divider {
  height: 100vh;
}
.jquery-modal--h100 {
  height: 100vh;
  padding: 0;
  overflow: hidden;
}
.modal {
  border-radius: 0;
  padding: 0;
}
.modal a.close-modal {
  width: 68px;
  height: 68px;
  background-color: #fff;
  background-image: url('../images/cross.svg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border-radius: 50%;
  top: 0;
  right: 0;
  background-size: 12px;
  @media screen and (min-width: 1280px) {
    right: -98px;
    top: 30px;
  }
}
.look-btn {
  @include helvetica;
  display: inline-block;
  font-size: 14px;
  line-height: 110%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  margin-top: 55px;
  margin-right: 29px;
  transition: all .35s $easing;
  img {
    display: inline-block;
    margin-right: 5px;
  }
  svg path {
    fill: $black;
    transition: all .35s $easing;
  }
}