.up {
  position: fixed;
  width: 74px;
  height: 74px;
  background-color: #F7F7F7;
  right: 40px;
  bottom: 40px;
  border-radius: 50%;
  z-index: 3;
  overflow: hidden;
  transition: background-color .35s $easing;
  cursor: pointer;
  display: none;
  &:hover {
    background-color: $blue;
  }
  &__inner {
    height: 200%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: transform .35s $easing;
    .up:hover & {
      transform: translate(0, -50%);
    }
  }
  &__text {
    font-size: 14px;
    line-height: 110%;
    text-align: center;
    letter-spacing: -0.02em;
  }
}