.v-to-v {
  @include section;
  padding-top: 75px;
  &__inner {
    padding-left: 160px;
    @include laptop {
      padding-right: 25px;
    }
    @include tablet {
      padding-left: 25px;
    }
  }
  &__videos {
    padding-top: 40px;
    display: flex;
    margin-left: -18px;
    margin-right: -18px;
    @include tablet {
      margin-left: 0;
      margin-right: 0;
      padding-top: 20px;
      display: block;
    }
  }
  &__video {
    margin-left: 18px;
    margin-right: 18px;
    flex-grow: 1;
    text-align: right;
    border-left: 1px solid rgba(#000, .15);
    border-right: 1px solid rgba(#000, .15);
    cursor: pointer;
    @include faded;
    @include tablet {
      margin-left: 0;
      margin-right: 0;
      display: block;
      border: none;
      margin-bottom: 50px;
    }
    &:hover {
      @include wider-than-tablet {
        .v-to-v {
          &__video-btn,
          &__number,
          &__time-count {
            transform: translate(10px, 0);
          }
          &__number {
            transition-delay: 0s;
          }
          &__time-count {
            transition-delay: .1s;
          }
          &__video-btn {
            transition-delay: .2s;
          }
          &__video-img {
            > img {
              transform: scale(1.1);
            }
          }
          &__play {
            transform: scale(1.1);
          }
        }
      }
    }
  }
  &__video-img {
    position: relative;
    overflow: hidden;
    > img {
      vertical-align: middle;
      width: 100%;
      transition: all .7s $easing;
    }
  }
  &__video-place {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
  &__play {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    z-index: 1;
    background-color: #fff;
    transition: all .35s $easing;
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: opacity .35s $easing;
      &.visible {
        opacity: 1;
      }
    }
  }
  &__video-duration {
    padding-top: 37px;
    text-align: left;
    margin-left: 30px;
    @include tablet {
      padding-top: 20px;
      margin-left: 0;
    }
  }
  &__number {
    font-size: 100px;
    line-height: 95%;
    text-transform: uppercase;
    display: block;
    transition: all .35s $easing .2s;
    @include tablet {
      font-size: 70px;
    }
  }
  &__time-count {
    @include helvetica;
    display: inline-block;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.6em;
    text-transform: uppercase;
    transition: all .35s $easing .1s;
    margin-top: 10px;
    @include tablet {
      font-size: 11px;
      margin-top: 0;
    }
  }
  &__video-btn {
    @include helvetica;
    display: inline-block;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    margin-right: 29px;
    transition: all .35s $easing;
    margin-top: 45px;
    @include tablet {
      font-size: 11px;
      margin-top: -15px;
      float: right;
    }
    img {
      @include tablet {
        width: 10px;
        height: 13px;
      }
    }
  }
}