.values {
  width: 100%;
  overflow: hidden;
  &__container {
    padding-top: 220px;
    padding-bottom: 220px;
    @include section;
    @include tablet {
      padding-top: 79px;
      padding-bottom: 79px;
    }
  }
  &__inner {
    padding-left: 160px;
    display: flex;
    align-items: flex-start;
    @include laptop {
      padding-right: 25px;
    }
    @include tablet {
      padding-left: 25px;
    }
    @include tablet {
      display: block;
    }
  }
  &__text {
    max-width: 324px;
    flex-grow: 1;
    @include phone {
      max-width: 100%;
    }
  }
  &__description {
    @include faded;
  }
  &__title {
    margin-bottom: 24px;
  }
  &__list {
    position: relative;
    flex-grow: 1;
    margin-left: 105px;
    margin-top: -3px;
    @include tablet {
      margin-left: 0;
      margin-top: 50px;
    }
  }
}